astroid==2.8.3
black==21.9b0
click==8.0.3
isort==5.9.3
lazy-object-proxy==1.6.0
mccabe==0.6.1
mypy-extensions==0.4.3
pathspec==0.9.0
platformdirs==2.4.0
pylint==2.11.1
regex==2021.10.8
scapy==2.4.5
toml==0.10.2
tomli==1.2.1
typing-extensions==3.10.0.2
wrapt==1.13.2
